html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	font-family: sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

header {
	height: 1em;
	background: #4c4;
	color: white;
	flex-grow: 0;

	height: 3em;

	display: flex;
	flex-direction: row;

}

.title {
	flex-grow: 1;
	margin: 0.5em;
	font-size: 1.5em;

}

.menu-button {
	font-size: 2em;
	margin: 0.25em
}

main {
	flex-grow: 1;
}

#map {
	width: 100%;
	height: 100%;
}